# Database
DATABASE_URL=postgres://myuser:mypassword@127.0.0.1:5432/npsg

# App
DEBUG=true

# mail
MAIL_HOST=smtp.qq.com
MAIL_USER=email
MAIL_PASSWORD=password
MAIL_FROM=email

# redis
REDIS_HOST=redis
REDIS_PORT=6379
#REDIS_USER=redis
#REDIS_PASSWORD=redis

# aws (bucket中间只能用横线，不允许重名)
AWS_BUCKET_NAME=nest-demo-bucket
AWS_REGION=ap-northeast-1
AWS_ACCESS_KEY_ID=your AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=your AWS_SECRET_ACCESS_KEY

# rate limit
RATE_TTL=60
RATE_LIMIT=10