doctype html
html(lang='en')
    head 
      title Pug
    body
      h1 Welcome
      #container.col
      p Your are amzing 
      p 
       | Pug is a terse and simile 
       | templating language with a 
       | strong focus on performance 
       | and powerful features.
     ul 
        li Walker
        li Jack
        li Andraw